<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}


    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./error.jpg" alt="ravi" class="img-fluid" title="Ravi Pankhaniya">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <p class="prg">Welcome To Ravi Pankhaniya's App</p>
                        <h1 class="h">404 Error Found</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right side div  -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
   {{>footer}}

</body>

</html>