<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}


    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./imeges/ravi.jpg" alt="ravi" class="img-fluid" title="Ravi Pankhaniya">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p class="prg">Hello, I am Ravi Pankhaniya </p>
                        <h1 class="h">I am <span id="r">Full Stack Web Developer</span> and Software Engineer</h1>
                        <a href="https://github.com/ravi906770" target="_blank"><button class="b">About Me</button></a>
                    </div>
                    <!-- right side div  -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
   {{>footer}}

</body>

</html>